<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="angular.min.js"></script>
        <title>Página 02</title>
    </head>

    <body>
        <h1>Segundo Exemplo em AngularJS</h1>

        <div ng-app="">
            <p><label for="nome">Nome:</label>
            <input type="text" id="nome" ng-model="nome">
            </p>

            <p><label for="data">Data de Nascimento:</label>
            <input type="text" id="data" ng-model="data">
            </p>

            <p>O nome é <span ng-bind="nome"></span> e a data de nascimento é <span ng-bind="data"></span>.</p>
        </div>
    </body>
</html>